<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- App Settings for OAuth-->
    <add key="ClientAppId" value="79689A99-4B0B-4C5C-B1A8-BC310CCDE87D"/>
    <add key="ClientAppSecret" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJjaWQiOiI3OTY4OWE5OS00YjBiLTRjNWMtYjFhOC1iYzMxMGNjZGU4N2QiLCJjc2kiOiI1NzBjMTNjNC0wZDA3LTRkNDItOWE5NS1hOWRlZjNiNjJlMTUiLCJuYW1laWQiOiI0MDFjZTgzYi05ZmZjLTYxMTgtYTMwNi0xMzBlMjFkNjg5NWYiLCJpc3MiOiJhcHAudnN0b2tlbi52aXN1YWxzdHVkaW8uY29tIiwiYXVkIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTY1MTA3MTAxMCwiZXhwIjoxODA4ODM3NDEwfQ.gLDiBigzPGafFFCn-BV25aOuYDG4IzKMz7q6XavDHUiGDwUTpHoQ_X93xfDOtV_pX_seVMdwmeiTut7Y_IH9TZIS2iXnnCoJSqkJGvjmr6OIR46C3z9hiXJApWeE1bVv1KUWT9r8jc4Qf-sCv9wjROCUdCm4SyWbK77XDUJwHtzahzE34f-p0lN7KlsbRDB3M-CFYiTluZmy7g1Cgh0ckxt9anKYRUoDcpWavBgaucHpShSztkMN7DeZg33oC2oWTKNIatm9Zc4ERVTsK3OZN8uUjlx9Uow5MbXvbNMXWzzSi6Q6iumY1m6rxeuTIYBkjnW7uw82OSc0tJ1FLZmjkA"/>
    <add key="Scope" value="vso.code_full vso.project_manage vso.work_full"/>
    <add key="CallbackUrl" value="https://oauthtestzf.azurewebsites.net/oauth/callback"/>
    <add key="AuthUrl" value="https://app.vssps.visualstudio.com/oauth2/authorize"/>
    <add key="TokenUrl" value="https://app.vssps.visualstudio.com/oauth2/token"/>
    <add key="ProfileUrl" value="https://app.vsaex.visualstudio.com/me"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>